<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encontre Pedreiros Próximos</title>
    <!-- CSS do Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>

<body class="bg-light">
    <header>
        <nav class="global-nav">
            <img src="https://i.ibb.co/KVZRVhw/logov4-preto.png" alt="logo-em-obra" class="logo-header">
            <div class="conexao-global">
                <span class="desconectar" style="display: none;">Sair</span>
                <span><a href="/register">Cadastrar</a></span>
                <button><a href="/login">Entrar</a></button>
            </div>
        </nav>
    </header>
    <div class="banner-index">
        <h1>Estamos <span>Em Obra!</span></h1>
        <h2>Facilitando conexões, <br>concretizando projetos.</h2>
    </div>

    <main>
        <section class="buscador">
            <form action="/buscar" method="get" class="form-buscar-index">
                <h2>Encontre novos serviços ou um pedreiro para sua obra!</h2>
                <div class="radio-inputs">
                    <% servicos.forEach(servico=> { %>
                        <label>
                            <input class="radio-input servicos" type="radio" name="engine" value="<%= servico.id %>" />
                            <span class="radio-tile">
                                <span class="radio-servico">
                                    <%= servico.nome_servico %>
                                </span>
                            </span>
                        </label>
                    <% }) %>
                </div>
                <input type="text" name="cep" placeholder="Informe um CEP...">
                <div class="botoes-buscar">
                    <button id="btn-buscar-servico">Buscar Serviço</button>
                    <button id="btn-buscar-pedreiro">Buscar Pedreiro</button>
                </div>
            </form>

        </section>

        <section class="instituicoes-parceiras">
            <div class="chamada-institu-parceiras">
                <h2>O seu futuro faz parte da nossa obra!</h2>
                <p>Conheça nossos parceiros que querem fazer parte dessa empreitada.</p>
            </div>
            <div class="container-parceiros">
                <div class="swiper mySwiper ">
                    <div class="swiper-wrapper">
                    <% instituicoes.forEach(instituicao=> { %>    
                        <div class="swiper-slide">
                            <div class="banner-institu-parceira">
                                <div class="info-institu-parceira">
                                    <h4><%= instituicao.nome_parceiro %></h4>
                                    <p><%= instituicao.descricao %></p>
                                    <a href="<%= instituicao.url %>"
                                        class="btn-institu" target="_blank">Veja mais</a>
                                </div>
                                <img src="/imgs-fixas/<%= instituicao.imagem %>"
                                    alt="Senai SP">
                            </div>
                        </div>
                        <% }) %>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </section>

        <section class="vantagens-premium">

            <h2>Conheças as vantagens de ser PedreiroPro</h2>

            <div class="vantagem-premium">
                <img src="imgs-fixas/alcance.png" alt="">
                <div class="explicacao-premium">
                    <h4>Maior alcance</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, beatae magni.</p>
                </div>
            </div>

            <div class="vantagem-premium">
                <img src="imgs-fixas/alcance.png" alt="">
                <div class="explicacao-premium">
                    <h4>Maior visibilidade</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, beatae magni.</p>
                </div>
            </div>

            <div class="vantagem-premium">
                <img src="imgs-fixas/alcance.png" alt="">
                <div class="explicacao-premium">
                    <h4>Notificação em tempo real</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, beatae magni.</p>
                </div>
            </div>

        </section>

        <section class="banners-lojas-parceiros">
            <h2 style="text-align: center;">Lojas Parceiras do EmObra.com</h2>
            <div class="swiper mySwiper ">
                <div class="swiper-wrapper">
                    <% lojas.forEach(loja=> { %>    
                    <div class="swiper-slide banner-loja-fundo">
                        <div class="banner-loja-parceira">
                            <img src="imgs-fixas/<%= loja.imagem %>" alt="<%= loja.nome_parceiro %>">
                            <div class="info-loja-parceira">
                                <h4><%= loja.nome_parceiro %></h4>
                                <p><%= loja.endereco %></p>
                                <p><%= !loja.url ? loja.contato : loja.url %></p>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </section>

        <section class="sobre-nos">
            <h2>Vem saber mais sobre a gente</h2>
            <div class="sobre-nos-carrossel">

                <div class="sobre-nos-card">
                    <h4>A nossa Obra</h4>
                    <p>Aqui, a ideia é simples: conectar quem precisa com quem sabe fazer, de um jeito rápido e fácil.
                    </p>
                    <div class="sobre-nos-icones">
                        <img src="/imgs-fixas/tijolo.png" alt="missão" class="sobre-nos-icone">
                    </div>
                </div>


                <div class="sobre-nos-card">
                    <h4>A Obra que Queremos Entregar</h4>
                    <p>Ser a solução prática que todo mundo usa no dia a dia.</p>
                    <div class="sobre-nos-icones">
                        <img src="/imgs-fixas/muro1.png" alt="visão" class="sobre-nos-icone">
                    </div>
                </div>

                <div class="sobre-nos-card">
                    <h4>Nosso alicerces</h4>
                    <p>Oportunidade para todos e respeito em cada ação. Aqui, todo mundo tem espaço.</p>
                    <div class="sobre-nos-icones">
                        <img src="/imgs-fixas/acordo.png" alt="valores" class="sobre-nos-icone">
                    </div>
                </div>
            </div>
        </section>

    </main>

    <footer>
        <h5>Contato</h5>
        <div class="info-contato-footer">
            <p>(11) 8989898989</p>
            <p>emobracom@gmail.com</p>
        </div>
        <div class="redes-sociais-footer">
            <a href="https://www.tiktok.com/pt-BR/" target="_blank"><img src="/imgs-fixas/tiktok.png" alt=""></a>
            <a href="https://www.youtube.com/" target="_blank"><img src="/imgs-fixas/youtube.png" alt=""></a>
            <a href="https://www.instagram.com/" target="_blank"><img src="/imgs-fixas/instagram.png" alt=""></a>
        </div>
    </footer>

    <!-- JS do Bootstrap e dependências -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: "auto",
            spaceBetween: 30,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
        });
    </script>

</body>

</html>