<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil do Contratante</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>

<body>
    <header>
        <nav class="global-nav">
            <a href="/"><img src="https://i.ibb.co/KVZRVhw/logov4-preto.png" alt="logo-em-obra" class="logo-header"></a>
            <div class="conexao-global">
                <% if (isAuthenticated) { %>
                    <span><a href="/logout">Sair</a></span>
                    <% } else { %>
                        <span><a href="/register">Cadastrar</a></span>
                        <button><a href="/login">Entrar</a></button>
                        <% } %>
            </div>
        </nav>
    </header>
    <main class="main-perfil">
        <div class="container-container">
            <aside class="container-perfil">
                <div class="foto-perfil">
                    <img id="perfil-img" src="imagensContratante/<%= contratante[0].img_perfil %>"
                        class="rounded-circle perfil-img" alt="Avatar" />

                    <!-- Ícone de upload sobreposto à imagem -->
                    <form id="upload-form" enctype="multipart/form-data" method="POST" action="/upload-foto">
                        <label for="upload-file" class="upload-icon">
                            <img src="/imgs-fixas/edit-icon.png" alt="Upload Icon">
                        </label>
                        <input type="file" id="upload-file" name="fotoPerfil" accept="image/*" required
                            style="display: none;" />
                    </form>
                </div>

                <div class="info-perfil">
                    <h2>
                        <%= contratante[0].nome %>
                    </h2>
                    <p>This is a basic HTML page.</p>
                </div>
            </aside>
        </div>


        <section class="container-categorias-perfil">
            <div class="categorias-botoes">
                <div class="categoria-box">
                    <label>
                        <input type="radio" class="radio-input" name="engine" value="perfil-pedreiro">
                        <span class="radio-tile">
                            <span class="radio-categoria">
                                <i class="fa-solid fa-user"></i>
                            </span>
                        </span>
                    </label>
                    <p>Perfil</p>
                </div>

                <div class="categoria-box">
                    <label>
                        <input type="radio" class="radio-input" name="engine" value="perfil-pedreiro">
                        <span class="radio-tile">
                            <span class="radio-categoria">
                                <i class="fa-solid fa-trowel-bricks"></i>
                            </span>
                        </span>
                    </label>
                    <p>Obras</p>
                </div>

                <div class="categoria-box">
                    <label>
                        <input type="radio" class="radio-input" name="engine" value="perfil-pedreiro">
                        <span class="radio-tile">
                            <span class="radio-categoria">
                                <i class="fa-solid fa-certificate"></i>
                            </span>
                        </span>
                    </label>
                    <p>Premium</p>
                </div>

                <div class="categoria-box">
                    <label>
                        <input type="radio" class="radio-input" name="engine" value="perfil-pedreiro">
                        <span class="radio-tile">
                            <span class="radio-categoria">
                                <i class="fa-solid fa-circle-info"></i>
                            </span>
                        </span>
                    </label>
                    <p>Dicas</p>
                </div>
            </div>

            <article class="meu-perfil">
                <div class="config-perfil">
                    <div class="texto-config-perfil">
                        <h4>Yago</h4>
                        <p>Endereço, email,senha</p>
                    </div>
                    <span><a href="/editar-conta" id="edit-account" class="outras-acoes-login">editar conta</a></span>
                </div>
 
                <div class="excluir-perfil">
                    <div class="texto-config-perfil">
                        <h4>Excluir</h4>
                        <span><a href="#" id="delete-account" class="outras-acoes-login">Deletar conta</a></span>
                    </div>
                    
                </div>
            </article>
            <article class="minha-obras"></article>
            <article class="ofertas"></article>
            <article class="dicas"></article>
        </section>

        <h1>Solicitações de Serviços</h1>

        <% if (solicitacoes && solicitacoes.length> 0) { %>
            <table>
                <thead>
                    <tr>
                        <th>ID da Candidatura</th>
                        <th>Descrição do Serviço</th>
                        <th>Nome do Pedreiro</th>
                        <th>Status</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <% solicitacoes.forEach(solicitacao=> { %>
                        <tr>
                            <td>
                                <%= solicitacao.id %>
                            </td>
                            <td>
                                <%= solicitacao.descricao %>
                            </td>
                            <td>
                                <%= solicitacao.nome_pedreiro %>
                            </td>
                            <td>
                                <%= solicitacao.status %>
                            </td>
                            <td>
                                <!-- <button onclick="aceitarSolicitacao(<%= solicitacao.id %>, <%= solicitacao.servico_id %>)">Aceitar</button>
                            <button onclick="recusarSolicitacao(<%= solicitacao.id %>, <%= solicitacao.servico_id %>)">Recusar</button> -->
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
            <% } else { %>
                <p>Nenhuma solicitação encontrada.</p>
                <% } %>

                    <h1>Postar um Novo Serviço</h1>
                    <form action="/postar-servico" method="POST">


                        <label for="tipo_servico">Tipo de Serviço:</label>
                        <select id="tipo_servico" name="tipo_servico" required>
                            <% tipos_servicos.forEach(servico=> { %>
                                <option value="<%= servico.id %>">
                                    <%= servico.nome_servico %>
                                </option>
                                <% }); %>
                        </select>

                        <label for="cep">CEP:</label>
                        <input type="text" id="cep" name="cep">

                        <label for="prazo_combinar">Prazo a Combinar:</label>
                        <input type="text" id="prazo_combinar" name="prazo_combinar" required>

                        <label for="valor">Valor:</label>
                        <input type="number" id="valor" name="valor" required>

                        <label for="descricao">Descrição:</label>
                        <textarea id="descricao" name="descricao" required></textarea>

                        <button type="submit">Postar Serviço</button>
                    </form>


                    <section class="banners-perfil">
                        <article class="">
                            <div class="titulo-banner-perfil">
                                <h4></h4>
                                <hr>
                            </div>
                        </article>

                        <article class="instituicoes-parceiras">
                            <div class="chamada-institu-parceiras">
                                <h2>O seu futuro faz parte da nossa obra!</h2>
                                <p>Conheça nossos parceiros que querem fazer parte dessa empreitada.</p>
                            </div>
                            <div class="container-parceiros">
                                <div class="swiper mySwiper">
                                    <div class="swiper-wrapper">
                                        <% instituicoes.forEach(instituicao=> { %>
                                            <div class="swiper-slide">
                                                <div class="banner-institu-parceira">
                                                    <div class="info-institu-parceira">
                                                        <h4>
                                                            <%= instituicao.nome_parceiro %>
                                                        </h4>
                                                        <p>
                                                            <%= instituicao.descricao %>
                                                        </p>
                                                        <a href="<%= instituicao.url %>" class="btn-institu"
                                                            target="_blank">Veja mais</a>
                                                    </div>
                                                    <img src="/imgs-fixas/<%= instituicao.imagem %>" alt="Senai SP">
                                                </div>
                                            </div>
                                            <% }) %>
                                    </div>
                                    <div class="swiper-pagination"></div>
                                </div>
                            </div>
                        </article>

                        <section class="banners-lojas-parceiros">
                            <h2 style="text-align: center;">Lojas Parceiras do EmObra.com</h2>
                            <div class="swiper mySwiper">
                                <div class="swiper-wrapper">
                                    <% lojas.forEach(loja=> { %>
                                        <div class="swiper-slide banner-loja-fundo">
                                            <div class="banner-loja-parceira">
                                                <img src="imgs-fixas/<%= loja.imagem %>"
                                                    alt="<%= loja.nome_parceiro %>">
                                                <div class="info-loja-parceira">
                                                    <h4>
                                                        <%= loja.nome %>
                                                    </h4>
                                                    <p>
                                                        <%= loja.endereco %>
                                                    </p>
                                                    <p>
                                                        <%= !loja.url ? loja.contato : loja.url %>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <% }) %>
                                </div>
                                <div class="swiper-pagination"></div>
                            </div>
                        </section>
                    </section>
    </main>

    <footer>
        <h2>Contato</h2>
        <div class="info-contato-footer">
            <p>(11) 8989898989</p>
            <p>emobracom@gmail.com</p>
        </div>
        <div class="redes-sociais-footer">
            <a href="https://www.tiktok.com/pt-BR/" target="_blank" rel="noopener noreferrer" aria-label="TikTok"><img
                    src="/imgs-fixas/tiktok.png" alt="TikTok"></a>
            <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer" aria-label="YouTube"><img
                    src="/imgs-fixas/youtube.png" alt="YouTube"></a>
            <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer" aria-label="Instagram"><img
                    src="/imgs-fixas/instagram.png" alt="Instagram"></a>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="/js/script.js"></script>
    <script src="https://kit.fontawesome.com/fa60e4fa16.js" crossorigin="anonymous"></script>

    <script>
        // Função para aceitar solicitação
        function aceitarSolicitacao(candidaturaId, servicoId) {
            fetch('/aceitar-pedreiro', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ candidatura_id: candidaturaId, servico_id: servicoId }),
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Erro ao aceitar solicitação.');
                    }
                    return response.text(); // Pode ser texto ou JSON dependendo do que sua API retorna
                })
                .then(data => {
                    alert('Solicitação aceita com sucesso!');
                    location.reload(); // Recarrega a página para atualizar a lista de solicitações
                })
                .catch(error => {
                    console.error('Erro:', error);
                    alert('Erro ao aceitar solicitação.');
                });
        }

        // Função para recusar solicitação
        function recusarSolicitacao(candidaturaId, servicoId) {
            fetch('/recusar-pedreiro', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ candidatura_id: candidaturaId, servico_id: servicoId }),
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Erro ao recusar solicitação.');
                    }
                    return response.text(); // Pode ser texto ou JSON dependendo do que sua API retorna
                })
                .then(data => {
                    alert('Solicitação recusada com sucesso!');
                    location.reload(); // Recarrega a página para atualizar a lista de solicitações
                })
                .catch(error => {
                    console.error('Erro:', error);
                    alert('Erro ao recusar solicitação.');
                });
        }

        // Adiciona ouvinte de evento para a exclusão da conta
        document.getElementById('delete-account').addEventListener('click', function (event) {
            event.preventDefault(); // Impede o comportamento padrão do link
            const confirmation = confirm("Você tem certeza que deseja deletar sua conta? Esta ação não pode ser desfeita.");
            if (confirmation) {
                // Redireciona para a URL de exclusão da conta
                window.location.href = "/excluir";
            }
        });
    </script>

</body>

</html>