<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>

<body>

    <main class="main-login-cad">
        
        <div class="banner-login">
            <h1><a href="/"><img src="https://i.ibb.co/KVZRVhw/logov4-preto.png" alt="logo-em-obra"
                        class="logo-header"></a></h1>
            <h3>Facilitando conexões, <br>concretizando projetos.</h3>
        </div>

        <div class="login-container">
            <div class="form-login">
                <h1>Cadastro</h1>

                <div class="tipo-cadastro">
                    <button id="btnPedreiro" onclick="setUserType('pedreiro')" class="botao-entrar">Cadastrar como
                        Pedreiro</button>
                    <button id="btnContratante" onclick="setUserType('contratante')" class="botao-entrar">Cadastrar como
                        Contratante</button>
                </div>

                <form id="registrationForm" method="POST" action="/register/pedreiro" style="display:none;">

                    <div id="cadastroInicio" class="avancar-cadastro-pedreiro">
                        <div class="input-control-login">
                            <input type="hidden" name="tipo" value="pedreiro">
                            <label for="nome" class="text">Nome:</label>
                            <input type="text" name="nome" required class="input">
                        </div>
                        <div class="input-control-login">
                            <label for="telefone" class="text">Telefone:</label>
                            <input type="text" name="telefone" class="input">
                        </div>
                        <div class="input-control-login">
                            <label for="cpf" class="text">CPF:</label>
                            <input type="text" name="cpf" required class="input">
                        </div>
                        <div class="input-control-login">
                            <label for="email" class="text">Email:</label>
                            <input type="text" name="email" required class="input">
                        </div>
                        <div class="input-control-login">
                            <label for="senha" class="text">Senha:</label>
                            <input type="password" name="senha" required class="input">
                            
                        </div>
                        
                        <div class="input-control-login">
                            <label for="cep" class="text">CEP:</label>
                            <input type="text" name="cep" required class="input">
                        </div>
                    </div>

                    <div class="avancar-cadastro-pedreiro botao-entrar" onclick="avancarCadastro()"> Avançar</div>
                    
                    <div id="servicosContainer" style="display: none;" class="cadastro-tipo-servico">
                        <h3>Agora, escolha os tipos de serviços que deseja oferecer <br><span>(Máx. 3 serviços)</span></h3>
                        <% servicos.forEach(servico=> { %>
                        <div class="cadastro-pedreiro-checkbox">
                          
                            <input type="checkbox" id="<%= servico.nome_servico %>" name="tipos_servicos" value="<%= servico.id %>">
                            <label for="<%= servico.nome_servico %>">
                              <div class="icone-servico">
                                <img src="/imgs-fixas/<%= servico.img_servico %>" alt="<%= servico.nome_servico %>">
                              </div>
                              <div class="info-servicos-cadastro">
                                <span><%= servico.nome_servico %></span>
                                <p><%= servico.desc_servico %></p>
                              </div>
                            </label>
                          </div>
                          <% }) %>                      
                        
                    </div>

                    <div class="manter-conectado cadastro-tipo-servico" style="display: none;">
                        <div>
                            <input type="checkbox" id="conectado" name="conectado">
                            <label for="conectado">Aceitar termos</label>
                        </div>

                    </div>

                    <button type="submit" class="botao-entrar cadastro-tipo-servico" style="display: none;">Cadastrar</button>
                </form>

                <form id="registrationFormContratante" method="POST" action="/register/contratante" style="display:none;">
                    
                    <div class="input-control-login">
                        <input type="hidden" name="tipo" value="contratante">
                        <label for="nome" class="text">Nome:</label>
                        <input type="text" name="nome" required class="input">
                    </div>

                    <div class="input-control-login">
                        <label for="telefone" class="text">Telefone:</label>
                        <input type="text" name="telefone" class="input">
                    </div>

                    <div class="input-control-login">
                        <label for="cpf" class="text">CPF:</label>
                        <input type="text" name="cpf" required class="input">
                    </div>

                    <div class="input-control-login">
                        <label for="email" class="text">Email:</label>
                        <input type="text" name="email" required class="input">
                    </div>

                    <div class="input-control-login">
                        <label for="senha" class="text">Senha:</label>
                        <input type="password" name="senha" required class="input">
                    </div>

                    <div class="input-control-login">
                        <label for="cep" class="text">CEP:</label>
                        <input type="text" name="cep" required class="input">
                    </div>

                    <div class="manter-conectado">
                        <div>
                            <input type="checkbox" id="conectado" name="conectado">
                            <label for="conectado">Aceitar termos</label>
                        </div>

                    </div>
                    <button type="submit" class="botao-entrar">Cadastrar</button>
                </form>
                <div>
                    <a href="/login" class="outras-acoes-login" style="display: none;" id="redirecionar-login">Já possui uma conta? Faça login</a>
                   
                </div>
            </div>
        </div>

    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>
    <script src="/js/script.js" defer></script>
</body>

</html>